<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Registration Form</h1>

<!-- Показ ошибок, если они возникли -->
<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
</div>

<!-- Показ сообщения об успешной регистрации -->
<div th:if="${successMessage}" style="color: green;">
    <p th:text="${successMessage}"></p>
</div>

<form action="/register" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required
               th:value="${user.username}">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
    </div>

    <div>
        <label for="role">Role:</label>
        <select id="role" name="role">
            <option value="USER">User</option>
            <option value="ADMIN">Admin</option>
        </select>
    </div>

    <div>
        <button type="submit">Register</button>
    </div>
</form>

<p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>
